.navbar{
  display: flex;
}

h3{
   text-align: center;
   padding-top: 32px;
   padding-bottom:32px;
   color:gray
  }

.img {
    position: relative;
    top: 50px;
    left: 120px;
  }
.news-right{
        text-align: right;  
}
.card-container{
         background-color: rgba(255, 255, 255, 0.945);
         padding: 0px 72px 32px 72px;
        }

 .card-container h3{
  padding: 32px 0px;
  text-align: center;
  color: rgb(75, 71, 71);
 }

 .cardcont {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 32px;
 }
 .cardcont img{
  width: 100%;
 }

 .card-text{
  padding:16px;
 }
 .card-text p{
  padding: 8px 8px;
  opacity: 0.4;
  font-size: medium;
 }

 .exhibit{
  display: flex;
 }
 .title{
  text-align: center;
 }
 .exhibit p{
  opacity: 0.6;
  font-size: small;
 }

 .left{
  padding: 24px;
 }
 .left h2{
  padding-bottom: 8px;
 }
 .left video , p{
  padding: 0px 0px 24px 0px;
  width: 100%;
 }
 .left video{
  padding-top: 32px;
  padding-right: 24px;
 }
 .right{
  padding-top: 64px;
  width: 100%;
 }
 .h4{
  padding: 42px 12px;
  width: 65%;
 }
.prototype{
  display: flex;
  background-color: lightgray;
}
.Newyork{
  display: flex;
}
.mag img{
  width: 100%;
}
.prototype img , .Newyork img {
  width: 35%;
  height: auto;
  padding: 12px 12px;
}
 footer{
  padding: 16px 24px 0px 24px;
 }
 footer{
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-size: x-small;
  border: 1px solid lightgray;
 }
ul{
  display: flex;
  display: center;
  list-style: none;
  
 }
 a{
  text-decoration: none;
  color: darkgrey;
  padding: 8px;
 }